
<!-- Home -->
		<div id="header">
		    <div class="flexslider">
		        <ul class="slides">
		            <li class="slider-item" style="background-image: url('assets/images/item-1.png')">
		                <div class="intro container">
		                    <div class="inner-intro">
		                        <h1 class="header-title">
		                            <span>traveling</span> always "good idea"
		                        </h1>
		                        <p class="header-sub-title">
		                            it leaves you speecless, then turns your into a storyteller.
		                        </p>
		                        <button class="btn custom-btn" id="bookd">
		                            Explore More !
		                        </button>
		                    </div>
		                </div>
		            </li> <!-- /.slider-item -->
		            <li class="slider-item" style="background-image: url('assets/images/item-2.png')">
		                <div class="intro">
		                    <div class="inner-intro">
		                        <h1 class="header-title" id="infof">
		                            to <span>travel</span> is to <span>live</span>
		                        </h1>
		                        <p class="header-sub-title">
		                            it leaves you speecless, then turns your into a storyteller.
		                        </p>
		                        <button class="btn custom-btn" id="bookd">
		                            Get in Touch with Us Now !
		                        </button>
		                    </div>
		                </div>
		            </li> <!-- /.slider-item -->
		        </ul> <!-- /.slides -->
		    </div> <!-- /.flexslider -->
		</div> <!-- /#header -->
<!-- Find a Tour -->
	<section class="tour section-wrapper container">
		<h2 class="section-title">
			Find a Tour
		</h2>
		<p class="section-subtitle">
			Where would you like to go?
		</p>
		<div class="row">
		<form action='/' method='POST'>	
			<div class="col-md-3 col-sm-6">
				<form role="form" class="form-dropdown">
					<div class="form-group"><br>
						<label for="sel1">From:</label>
						<select class="form-control border-radius" id="sel1">
							<option>Dubai [DXB]</option>
							<option>Abu Dhabi [AUH]</option>
							<option>Sharjah [SHJ]</option>
							
							<option>Trivandrum [TRV]</option>
							<option>Kochi [COK]</option>
							<option>Calicut [CCJ]</option>
							<option>Kannur [KNR]</option>
							<option>Doha [DHR]</option>
							<option>Muscat [MSC]</option>
							<option>Bombay [BOM]</option>
							<option>Kuwait [KWT]</option>
							<option>Jeddah [JDH]</option>

						</select>
						
					</div>
					
					
			</form>
				
				<br>
				<form role="form" class="form-dropdown">
					<div class="form-group">
						<label for="sel1">To:</label>
						<select class="form-control border-radius" id="sel1">
							<option>Trivandrum [TRV]</option>
							<option>Kochi [COK]</option>
							<option>Calicut [CCJ]</option>
							<option>Kannur [KNR]</option>
							<option>Abu Dhabi</option>
							<option>Sharjah [SHJ]</option>
							<option>Dubai [DXB]</option>
							<option>Doha [DHR]</option>
							<option>Muscat [MSC]</option>
							<option>Bombay [BOM]</option>
							<option>Kuwait [KWT]</option>
							<option>Jeddah [JDH]</option>
						</select>
						
					</div>
					
					
				</form>
			</div>
			<br>
			

			<div class="col-md-3 col-sm-6">
				<form role="form" class="">
				<div class="input-group">
					<label for="sel1">Departure Date:</label>
					<input type="date" class="form-control border-radius " value=""/>
				</form>	
				</div>
			<br>
				<div class="input-group">
					<form role="form" class="">
					<label for="sel1">Arrival Date:</label>
					<input type="date" class="form-control border-radius" placeholder="Departure" />
					</form>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<form role="form" class="form-dropdown">
				<div class="input-group">
					<label for="sel1">Adult</label>
					<input type="number" class="form-control border-radius " placeholder="1" value="1" />
				</form>	
				</div>
			<br>
				<div class="input-group">
					<form role="form" class="form-dropdown">
					<label for="sel1">Child / Infant </label>
					<input type="number" class="form-control border-radius" placeholder="0" value="0"/ >
					</form>
				</div>
			</div>
				
			</div>
			<div class="col-md-3 col-sm-6">
				   	
				<input type="submit" id="searchbtn" value="Check Availabiity Now!"/>
					
				</div>
			</form>
		</div>
	</section> <!-- /.tour -->


	


<!-- Our Blazzing offers -->
	<section class="offer section-wrapper">
		<div class="container">
			<h2 class="section-title">
				Our Blazzing offers
			</h2>
			<p class="section-subtitle">
				Lorem Ipsum is simply dummy text of the industry.
			</p>
			<div class="row">
				<div class="col-sm-3 col-xs-6">
					<div class="offer-item">
						<div class="icon">
							<i class="ion-paper-airplane"></i>
						</div>
						<h3>
							Affordable Flight Tickets
						</h3>
						<p>
							We offer you the best fares for flight tickets around the globe.
						</p>
					</div>
				</div> <!-- /.col-md-3 -->

				<div class="col-sm-3 col-xs-6">
					<div class="offer-item">
						<div class="icon">
							<i class="ion-ios-home"></i>
						</div>
						<h3>
							Hotel Bookings
						</h3>
						<p>
							Chill around while we take care of all the needs for a comfortable stay .
						</p>
					</div>
				</div> <!-- /.col-md-3 -->

				<div class="col-sm-3 col-xs-6">
					<div class="offer-item">
						<div class="icon">
							<i class="ion-android-car"></i>
						</div>
						<h3>
							Cab and Rental Services
						</h3>
						<p>
							Anytime... Anywhere, Book now for exiting offers.
						</p>
					</div>
				</div> <!-- /.col-md-3 -->

				<div class="col-sm-3 col-xs-6">
					<div class="offer-item">
						<div class="icon">
							<i class="ion-android-train"></i>
						</div>
						<h3>
							Bookings for Train, Bus and much more...
						</h3>
						<p>
							No worries, we offer you a comfortable journey through with .
						</p>
					</div>
				</div> <!-- /.col-md-3 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</section> <!-- /.offer -->


<!-- Top place to visit -->
	<section class="visit section-wrapper">
		<div class="container">
			<h2 class="section-title">
				Top place to visit
			</h2>
			<p class="section-subtitle">
				Lorem Ipsum is simply dummy text of the industry.
			</p>

			<div class="owl-carousel visit-carousel" id="">
				<div class="item">
					<img src="assets/images/visit-1.png" alt="visit-image" class="img-responsive visit-item">
	{{!-- <img class="img-responsive visit-item" src="assets/images/visit-1.png" alt="visit-image"> --}}
  					<span id="ccc" class="hero-text"><button type="button" id="btndn" class="new-ds"> Munnar </button></span>
				</div>
				<div class="item">
					<img src="assets/images/visit-2.png" alt="visit-image" class="img-responsive visit-item">
					<span id="ccc" class="hero-text"><button type="button" id="btndn" class="new-ds"> Ponmudi </button></span>

				</div>
				<div class="item">
					<img src="assets/images/visit-3.png" alt="visit-image" class="img-responsive visit-item">
					<span id="ccc" class="hero-text"><button type="button" id="btndn" class="new-ds"> Wayanad </button></span>

				</div>
				<div class="item">
					<img src="assets/images/visit-1.png" alt="visit-image" class="img-responsive visit-item">
					<span id="ccc" class="hero-text"><button type="button" id="btndn" class="new-ds"> Munnar </button></span>

				</div>
				<div class="item">
					<img src="assets/images/visit-2.png" alt="visit-image" class="img-responsive visit-item">
					<span id="ccc" class="hero-text"><button type="button" id="btndn" class="new-ds"> Ponmudi </button></span>

				</div>
				<div class="item">
					<img src="assets/images/visit-3.png" alt="visit-image" class="img-responsive visit-item">
					<span id="ccc" class="hero-text"><button type="button" id="btndn" class="new-ds"> Wayanad </button></span>

				</div>
			</div>
		</div> <!-- /.container -->
	</section> <!-- /.visit -->

<div class="offer-cta">
	<div class="container">
		<div class="offering">
			<div class="percent">
				<span>10%</span> off
			</div>
			<div class="FTour">
				for <strong>Family Tour</strong>
			</div>
			<a class="btn btn-default price-btn" href="#">
				see our price
			</a>
		</div> <!-- /.offering -->
	</div> <!-- /.container -->
</div> <!-- /.offer-cta -->

	<section class="additional-services section-wrapper">
		<div class="container">
			<h2 class="section-title">
				Additional services
			</h2>
			<p class="section-subtitle">
				Zahra provides with a varitey of other Luxury services.
			</p>
			<div class="row">
				{{!-- <div class="col-md-4 col-sm-6">
					<div class="custom-table">
						<img src="assets/images/add-srvc-1.png" alt="" width="135" class="add-srvc-img">
						<div class="add-srvc-detail">
							<h4 class="add-srvc-heading">
								Photography
							</h4>
							<p class="add-srvc">
								Etiam pharetra ut ante eget ehy efficitur. Nullam quis felis at nunc vehicula sollicitudin euliquam quis felis atblan dit.
							</p>
						</div> <!-- /.add-srvc-detail -->
					</div> <!-- /.custom-table -->
				</div> <!-- /.col-md-4 col-sm-6 --> --}}

				<div class="col-md-4 col-sm-6">
					<div class="custom-table">
						<img src="assets/images/add-srvc-2.png" alt="" width="125" class="add-srvc-img">
						<div class="add-srvc-detail">
							<h4 class="add-srvc-heading">
								Taxi Servcies
							</h4>
							<p class="add-srvc">
								We provide excelent cab services with a wide range of plans.
							</p>
						</div> <!-- /.add-srvc-detail -->
					</div> <!-- /.custom-table -->
				</div> <!-- /.col-md-4 col-sm-6 -->
				
				<div class="col-md-4 col-sm-6">
					<div class="custom-table">
						<img src="assets/images/add-srvc-3.png" alt="" width="89%" class="add-srvc-img">
						<div class="add-srvc-detail">
							<h4 class="add-srvc-heading">
								Bus booking
							</h4>
							<p class="add-srvc">
								We have all sorts of buses for wedding, tours and other function. Buses contain A/C, non-A/C & push-back and also with best seating capacity.
							</p>
						</div> <!-- /.add-srvc-detail -->
					</div> <!-- /.custom-table -->
				</div> <!-- /.col-md-4 col-sm-6 -->

				<div class="col-md-4 col-sm-6">
					<div class="custom-table">
						<img src="assets/images/add-srvc-4.png" alt=""  width="125" class="add-srvc-img">
						<div class="add-srvc-detail">
							<h4 class="add-srvc-heading">
								Construction
							</h4>
							<p class="add-srvc">
								Want a Builder, Engineer or Labour contract, feel free to give us a ping.
							</p>
						</div> <!-- /.add-srvc-detail -->
					</div> <!-- /.custom-table -->
				</div> <!-- /.col-md-4 col-sm-6 -->

				<div class="col-md-4 col-sm-6">
					<div class="custom-table">
						<img src="assets/images/add-srvc-5.png" alt="" width="125" class="add-srvc-img">
						<div class="add-srvc-detail">
							<h4 class="add-srvc-heading">
								Hotel Bookings
							</h4>
							<p class="add-srvc">
								Zahra Packages provide best Hotels at best prices.
							</p>
						</div> <!-- /.add-srvc-detail -->
					</div> <!-- /.custom-table -->
				</div> <!-- /.col-md-4 col-sm-6 -->

				<div class="col-md-4 col-sm-6">
					<div class="custom-table">
						<img src="assets/images/add-srvc-6.png" alt="" width="120" class="add-srvc-img">
						<div class="add-srvc-detail">
							<h4 class="add-srvc-heading">
								Train Reservation
							</h4>
							<p class="add-srvc">
								Have a pleasent journey when we take care of all the reservation and booking formalities, travel with ease.
							</p>
						</div> <!-- /.add-srvc-detail -->
					</div> <!-- /.custom-table -->
				</div> <!-- /.col-md-4 col-sm-6 -->
				
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</section> <!-- /.Additional-services -->


	<div class="section-wrapper sponsor">
		<div class="container">
			<div class="owl-carousel sponsor-carousel">
				<div class="item">
					<a href="#">
						<img src="assets/images/sp-1.png" alt="sponsor-brand" class="img-responsive sponsor-item">
					</a>
				</div>
				<div class="item">
					<a href="#">
						<img src="assets/images/sp-2.png" alt="sponsor-brand" class="img-responsive sponsor-item">
					</a>
				</div>
				<div class="item">
					<a href="#">
						<img src="assets/images/sp-3.png" alt="sponsor-brand" class="img-responsive sponsor-item">
					</a>
				</div>
				<div class="item">
					<a href="#">
						<img src="assets/images/sp-4.png" alt="sponsor-brand" class="img-responsive sponsor-item">
					</a>
				</div>
				<div class="item">
					<a href="#">
						<img src="assets/images/sp-5.png" alt="sponsor-brand" class="img-responsive sponsor-item">
					</a>
				</div>
				<div class="item">
					<a href="#">
						<img src="assets/images/sp-6.png" alt="sponsor-brand" class="img-responsive sponsor-item">
					</a>
				</div>
				<div class="item">
					<a href="#">
						<img src="assets/images/sp-1.png" alt="sponsor-brand" class="img-responsive sponsor-item">
					</a>
				</div>
				<div class="item">
					<a href="#">
						<img src="assets/images/sp-2.png" alt="sponsor-brand" class="img-responsive sponsor-item">
					</a>
				</div>
				<div class="item">
					<a href="#">
						<img src="assets/images/sp-3.png" alt="sponsor-brand" class="img-responsive sponsor-item">
					</a>
				</div>
				<div class="item">
					<a href="#">
						<img src="assets/images/sp-4.png" alt="sponsor-brand" class="img-responsive sponsor-item">
					</a>
				</div>
				<div class="item">
					<a href="#">
						<img src="assets/images/sp-5.png" alt="sponsor-brand" class="img-responsive sponsor-item">
					</a>
				</div>
				<div class="item">
					<a href="#">
						<img src="assets/images/sp-6.png" alt="sponsor-brand" class="img-responsive sponsor-item">
					</a>
				</div>
				<div class="item">
					<a href="#">
						<img src="assets/images/sp-1.png" alt="sponsor-brand" class="img-responsive sponsor-item">
					</a>
				</div>
				<div class="item">
					<a href="#">
						<img src="assets/images/sp-2.png" alt="sponsor-brand" class="img-responsive sponsor-item">
					</a>
				</div>
				<div class="item">
					<a href="#">
						<img src="assets/images/sp-3.png" alt="sponsor-brand" class="img-responsive sponsor-item">
					</a>
				</div>
				<div class="item">
					<a href="#">
						<img src="assets/images/sp-4.png" alt="sponsor-brand" class="img-responsive sponsor-item">
					</a>
				</div>
				<div class="item">
					<a href="#">
						<img src="assets/images/sp-5.png" alt="sponsor-brand" class="img-responsive sponsor-item">
					</a>
				</div>
				<div class="item">
					<a href="#">
						<img src="assets/images/sp-6.png" alt="sponsor-brand" class="img-responsive sponsor-item">
					</a>
				</div>
			</div> <!-- /.owl-carousel -->
		</div> <!-- /.container -->
	</div> <!-- /.sponsor -->

	<div class="subscribe section-wrapper">
		<a class="brand-logo" href="/index" title="HOME"><i class="ion-paper-airplane"></i> Zahra <span>Tours and Travels</span></a>
		<p class="subscribe-now">
			Subscribe to our Newsletter
		</p>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
					<div class="input-group">
						<input type="email" class="form-control border-radius" placeholder="Email address">
						<span class="input-group-btn">
							<button class="btn btn-default border-radius custom-sub-btn" type="button">DONE</button>
						</span>
					</div><!-- /input-group -->
				</div>
			</div>
		</div>
					
	
	
		<ul class="social-icon">
			<li><a href="#"><i class="ion-social-twitter"></i></a></li>
			<li><a href="#"><i class="ion-social-facebook"></i></a></li>
			<li><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
			<li><a href="#"><i class="ion-social-googleplus"></i></a></li>
		</ul>
	</div> <!-- /.subscribe -->

		
	